<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-icon name="wifi"></ion-icon>
      LOCALIZADOR
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-input placeholder="Usuário"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input placeholder="Senha" type="password"></ion-input>
    </ion-item>
  </ion-list>

  <button ion-button full (click)="goHomePage()">ENTRAR</button><br/>
  
  <button ion-button full block color="light" (click)="goCadastroPage()">CADASTRAR</button><br/>

  <ion-content padding>
    <div *ngIf="isUserLoggedIn" style="text-align:center">
      <img src="{{userInfo.picture.data.url}}">
      <h3>{{userInfo.first_name}}</h3>
      <p>{{userInfo.email}}</p>
      <button ion-button clear (click)="logout()">Logout</button>
    </div>
  </ion-content>
  <ion-footer *ngIf="!isUserLoggedIn">
    <button ion-button block color="facebook" (click)="loginWithFB()">
    <ion-icon name="logo-facebook"></ion-icon> &nbsp;  ENTRAR COM FACEBOOK</button>
    
  </ion-footer>

</ion-content>